body {
    font-family: 'jsMath-cmbx10', sans-serif;
}


.container {
   width: 80%;
   margin: 0 auto;
}



.botonbox {
    display: grid;
    gap: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.gridItem {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.red {
    background-color: rgb(84, 0, 0);
}

.topo {
    height: 130px;
    width: 100%;
    background-color: darkred;
    display: flex;
    align-items: center;
}

.btopo {
    height: 250px;
    width: 100%;
    background-image: url("https://photo-cdn2.icons8.com/aBNbvscM_JbYkwXDQQd-PvfKc6qGRhFSkFpVw9ClEGM/rs:fit:1608:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi9jNjhiOWNkMDVh/NWE0OWIyOTQ2MTJk/ZTg4NDdjOWIzYS5q/cGc.jpg");
    background-repeat: no-repeat;
    background-size: 415px 300px;
    display: flex;
    align-items: center;

}


.logo {
    height: 80px;
    width: 80px;
    margin-left: -30px;

}

.divlogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
   margin-right: -20px;
}

.img1{
    background-image: url(https://photo-cdn2.icons8.com/SPSLQKnHaB7rqjo10M3_uByF78UVDEYJ4JpSfFZ1oAA/rs:fit:1614:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi9hMjRmZWE3OWU0/OGQ0YmU2YjVjZDQz/YjI2NjJmYjA0Yi5q/cGc.jpg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
}

.img2{
    background-image: url(https://photo-cdn2.icons8.com/wCo33PH1AeAsi81S2A8uVwvd0atU63OlEWw8uEtKxdc/rs:fit:1340:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi84ZGYyMjEyMDFh/NzM0YjAzYjcwZjVk/ZDJhMDk3MWRkZC5q/cGc.jpg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
}

.img3{
    background-image: url(https://photo-cdn2.icons8.com/Yef7R7zM_LzPEj0eCo1AaTDk8UwyMt-6GRAfT1OcXHI/rs:fit:1610:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi8xNjhlMDI5MDA1/MTg0MjljYTljNDk4/YjUyY2UwZGI2ZC5q/cGc.jpg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
}

.font{
    color: rgb(8, 8, 8);
    margin-left: 20px;
}

.white{
    color: whitesmoke;
}
